@import 'cl-theme';

.primary-header {
    background-color: $primary-header-bg-color;
    color: $primary-header-text-color;
    
    a, a:visited, a:focus {
        color: $primary-header-link-color;
    }

    a:hover {
        text-decoration: underline;
    }
}

.primary-footer {
    background-color: $primary-footer-bg-color;
    border-top: 5px solid $primary-footer-border-color;
    color: $primary-footer-text-color;
    
    a {
        color: $primary-footer-link-color;
    }
}

.primary-banner {
    background-color: $primary-banner-background-color !important;
    border-bottom: 5px solid $primary-banner-border-color !important;
    color: $primary-banner-color;
}

.primary-banner__content {
    padding-top: 16px;
}

.secondary-banner {
    background-color: $secondary-banner-background-color;
    color: $secondary-banner-color;
}

.secondary-banner__content {
    padding-top: 16px;
}

.primary-button, .primary-button a {
    background-color: $primary-button-background-color;
    border-radius: 3px;
    color: $primary-button-color;
}

.secondary-button, .secondary-button table.button, .secondary-button table, .secondary-button td, .secondary-button a  {
    background: $secondary-button-background-color !important;
    border-radius: 3px;
    color: $secondary-button-color !important;
}

.contact-card {
    background-color: $contact-card-background-color;
    color: $contact-card-color;
    padding-bottom: 0px!important;
}

.contact-card__column {
    padding-bottom: 0px!important;
}

.divider {
    margin-right: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hero-image__border {
    border-bottom: 5px solid $hero-image-border-color !important;
}

.social-media__icon {
    width: 21px;
}