// UNUM 

$unum-primary-color-1: #015294;
$unum-primary-color-2: #0376BB;
$unum-secondary-color-1: #CCBD8F;
$unum-secondary-color-2: #FAC832;

// COLONIAL LIFE

$cl-primary-color-1: #19557f;
$cl-primary-color-2: #5b7183;
$cl-secondary-color-1: #1a8573;

// NEUTRALS

$neutral-dark-grey: #2E2E2E;
$neutral-light-grey: #bfbfbf;
