@import 'settings';
@import 'foundation-emails';

.birch {
    @import 'components/components';
}

.p {
    padding: 0px !important;
}


.birch-banner .container {
    background-color: #eee;
}

.birch-contact-card .container {
    background-color: yellow;
}

td.columns, td.column, th.columns, th.column {
    padding-bottom: 0px !important;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a {
    color: inherit;
}