// @import 'settings';
@import 'unum/unum-theme';
@import 'unum/unum-components';
@import 'foundation-emails';


body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a {
    color: inherit;
}

table.button {
    margin: 0;
    Margin: 0;
}

// HELPER CLASSES

.underline {
    text-decoration: underline;
    
    &:hover {
        text-decoration: none;
    }
}

.noBottom {
    padding-bottom: 0px!important;
}

.zeroPadding {
    padding: 0px !important;
}