@import 'unum_settings';
@import 'foundation-emails';

.birch {
    @import 'components/components';
}

.zeroPadding {
    padding: 0px !important;
}


.birch-banner .container {
    background-color: #eee;
}

.birch-contact-card .container {
    background-color: yellow;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a {
    color: inherit;
}

table.button {
    margin: 0;
    Margin: 0;
}

// .header {
//     background-color: $primary-color;
//     color: $header-font-color;

//     a {
//         color: $header-link-color;
//     }
// }

.border {
    border-bottom: 5px solid BurlyWood;

    :last-child {
        border-bottom: none;
    }
}

.footerBorder {
    border-top: 5px solid BurlyWood;
}

th.menu-item a {
    color: #fff !important;
}

.underline {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.noBottom {
    padding-bottom: 0px!important;
}

.primary-header {
    background-color: $primary-header-bg-color;
    color: $primary-header-text-color;

    a {
        color: $primary-header-link-color;
    }
}