@import 'unum-theme';

.primary-header {
    background-color: $primary-header-bg-color;
    color: $primary-header-text-color;
    
    a {
        color: $primary-header-link-color;
    }
}

.primary-footer {
    background-color: $primary-footer-bg-color;
    border-top: 5px solid $primary-footer-border-color;
    color: $primary-footer-text-color;
    
    a {
        color: $primary-footer-link-color;
    }
}