<wrapper class="birch-banner" bgcolor="blue">
        <container class="birch-banner__container" bgcolor="blue">
            <row>
                <columns>
                    <h1 class="birch-banner__heading">Heading Text</h1>
                </columns>
            </row>
            <row>
                <columns>
                    <div class="birch-banner__content">
                        <!-- insert components here -->
                        <div class="birch-styling-context">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor blanditiis soluta error ad dolorem, culpa illum ex architecto tempora omnis laudantium hic facilis iure velit quia corrupti. Autem nam nesciunt quos, quisquam porro dolorem consequatur quibusdam qui ab! Laborum, quod. Placeat ea voluptate maxime beatae quos dicta autem, eum praesentium.</p>
                        </div>
                    </div>
                </columns>
            </row>
            <row>
                <columns>
                    <menu class="birch-banner__actions">
                        <item class="birch-banner__action">
                            <button href="#" class="button radius">Button Text</button>
                        </item>
                    </menu>
                </columns>
            </row>
                </columns>
            </row>
        </container>
    </wrapper>
    