<table width="100%">
    <tr>
        <td bgcolor="yellow">
            <table cellpadding="10">
                <td>
                    <img src="http://fillmurray.com/150/150">
                </td>
                <td style="padding: 10px 0px 0px 10px">
                    <table>
                        <tr>
                            <td>Contact Name</td>
                        </tr>
                        <tr>
                            <td>Contact Title</td>
                        </tr>
                        <tr style="padding: 10px 0px 10px 0px">
                            <td><img src="http://fillmurray.com/50/50"></td>
                            <td>Contact Number</td>
                        </tr>
                        <tr style="padding: 10px 0px 10px 0px">
                            <td><img src="http://fillmurray.com/50/50"></td>
                            <td>Contact Email</td>
                        </tr>
                    </table>
                </td>
            </table>
        </td>
    </tr>
</table>