<row class="collapse" style="background-color: yellow;">
    <columns large="3">
        <img src="https://dummyimage.com/150x175/000/fff.png">
    </columns>
    <columns>
        <spacer size="16"></spacer>
        <row>
            <p>Contact Name</p>
            <p>Contact Title</p>
        </row>
        <spacer size="16"></spacer>
        <row>
            <columns large="1">
                <img src="https://dummyimage.com/25x25/000/fff.png">
            </columns>
            <columns>
                <p>Email address: blah@email.com</p>
            </columns>
        </row>
        <row>
            <columns columns large="1">
                <img src="https://dummyimage.com/25x25/000/fff.png">
            </columns>
            <columns>
                <p>Phone Number: 999-9999</p>
            </columns>
        </row>
    </columns>
</row>
