<!-- contact card starts -->
<row class="collapse {{class}}">
    <columns class="{{class}}" large="3">
        <img src="{{imageUrl}}" alt="{{altText}}">
    </columns>
    <columns class="{{second-class}}">
        <spacer size="8"></spacer>
        <row>
            <p>{{name}}</p>
            <p>{{title}}</p>
        </row>
        <spacer size="6"></spacer>
        <row>
            <columns class="{{second-class}}" large="1">
                <img src="{{imageUrl2}}" alt="{{altText2}}">
            </columns>
            <columns class="{{second-class}}">
                <p>Email address: {{email}}</p>
            </columns>
        </row>
        <row>
            <columns large="1">
                <img src="{{imageUrl3}}" alt={{altText3}}>
            </columns>
            <columns>
                <p>Phone Number: {{number}}</p>
            </columns>
        </row>
    </columns>
</row>
<!-- contact card ends -->
