<row class="birch-footer__copyright">
    <columns>
        <small>© 2018 Colonial Life & Accident Insurance Company. All rights reserved.</small>
    </columns>
</row>
<row class="birch-footer__disclaimer">
    <columns>
        <p>Colonial Life products are underwritten by Colonial Life & Accident Insurance Company, Columbia, SC. The policies may vary or be unavailable in some states. The policies have exclusions and limitations which may affect any benefits payable. See the actual policy or your Colonial Life representative for specific provisions and details of availability. Colonial Life is a registered trademark and marketing brand of Colonial Life & Accident Insurance Company.</p>
    </columns>
</row>
<row class="birch-footer__email-actions">
    <columns>
        <p class="birch-footer__email-action">You are receiving this email at XXXX. Click here to <a href="#">unsubscribe</a>.</p>
        <spacer size="10"></spacer>
        <p class="birch-footer__email-action">**INSERT OR REMOVE THE FOLLOWING** Insert address or additional email link here.</p>
        <p class="birch-footer__form-number">Form# XXXXXXX</p>
    </columns>
</row>