<!-- Unum copyright starts -->
<row>
    <columns>
        <small>© 2018 Unum Group. All rights reserved.</small>
    </columns>
</row>
<row>
    <columns>
        <p>Unum is a registered trademark and marketing brand of Unum Group and its insuring subsidiaries.</p>
    </columns>
</row>
<row>
    <columns>
        <p>You are receiving this email at XXXX. Click here to <a class="underline" href="#">unsubscribe</a>.</p>
        <spacer size="10"></spacer>
        <p>**INSERT OR REMOVE THE FOLLOWING** Insert address or additional email link here.</p>
        <p>Form# XXXXXXX</p>
    </columns>
</row>
<!-- Unum copyright ends -->