<!-- header starts -->
<row class="{{class}}">
    <columns small="6" style="padding: 25px 25px 0px 25px;">
        <columns small="6">
            <p class="text-left"><a href={{logoUrl}} alt=""><img src="{{logoImage}}" alt=""></a></p>
        </columns>
        <columns small="6" valign="bottom">
            <p> | <a href={{logoUrl}} alt="">{{brand}}</a></p>
        </columns>
    </columns>
    <columns small="6" valign="middle" style="padding: 25px 25px 0px 25px;">
        <p class="text-right"><a href="{{clickerUrl}}" class="{{clickerColor}}" alt="">{{clickerText}}</a></p>
    </columns>
</row>
<!-- header ends -->