<wrapper>
    <container>
        <row class="collapse">
            <columns large="6">
                <!-- Only choose one of the options below: TEXT or IMAGE -->
                <img src="http://placeholder.pics/svg/300x200" alt="put yo text here">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nulla consectetur alias dolor ipsa iusto nesciunt, aperiam quisquam ipsum consequatur inventore, repudiandae harum totam assumenda quos rem at quas error.</p>
            </columns>
            <columns large="6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nulla consectetur alias dolor ipsa iusto nesciunt, aperiam quisquam ipsum consequatur inventore, repudiandae harum totam assumenda quos rem at quas error.</p>
            </columns>
        </row>
    </container>
</wrapper>