<!-- product-nav starts -->
<row>
    <columns>
        <center>
            <menu> 
                <item href="#" class="zeroPadding">Disability&nbsp;{{> divider}}</item>
                <item href="#" class="zeroPadding">Accident&nbsp;{{> divider}}</item>
                <item href="#" class="zeroPadding">Life&nbsp;{{> divider}}</item>
                <item href="#" class="zeroPadding">Dental&nbsp;{{> divider}}</item>
                <item href="#" class="zeroPadding">Critical Illness&nbsp;{{> divider}}</item>
                <item href="#" class="zeroPadding">Hospital&nbsp;{{> divider}}</item>
                <item href="#" class="zeroPadding">Vision</item>
            </menu>
        </center>
    </columns>
</row>
<!-- product-nav ends -->
