<!-- social-media starts -->
<row>
    <columns>
        <spacer size="10"></spacer>
        <center>
            <menu>
                <item class="{{class}}"><a href="{{imageLink}}"><img src="{{imageUrl}}" alt="{{altText}}"></a></item>
                <item class="{{class}}"><a href="{{imageLink2}}"><img src="{{imageUrl2}}" alt="{{altText2}}"></a></item>
                <item class="{{class}}"><a href="{{imageLink3}}"><img src="{{imageUrl3}}" alt="{{altText3}}"></a></item>
            </menu>
        </center>
    </columns>
</row>
<!-- social-media ends -->