<wrapper>
    <container>
        <row class="collapse" large="6">
            <columns small="12" large="6">
                <center>
                    <img height="75px" width="75px" src="../assets/img/icon.svg" alt="sun icon"/>
                </center>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, laudantium cumque. Dolores, velit? Doloremque odio adipisci perspiciatis? Quam quidem illum enim molestiae, dolore at, deserunt asperiores cupiditate quia ducimus neque!</p>
                <row>
                    <columns columns small="1" large="1"></columns>
                    <columns small="6" large="2">
                        <center>
                            <button href="#" class="radius">Radius</button>
                        </center>
                    </columns>
                    <columns columns small="1" large="1"></columns>
                </row>
            </columns>
        </row>
    </container>
</wrapper>