<wrapper>
    <container style="background-color: yellow;">
        <row class="collapse" large="6">
            <columns large="6" style="display:block;">
                <h1>My cool heading</h1>
                <h2>Pretty neat subhead</h2>
                <row>
                    <columns columns small="1" large="1"></columns>
                    <columns small="6" large="2">
                        <center>
                            <button href="#" class="radius">Radius</button>
                        </center>
                    </columns>
                    <columns columns small="1" large="1"></columns>
                </row>
            </columns>
        </row>
    </container>
</wrapper>