&__item {
    list-style-type: none;
    padding: 0;  
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }

}