&__link {
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;

    &:visited {
        color: #fff;
    }

    &:active {
        color: #fff;
    }

    &:focus {
        color: #fff;
    }
}